<div class="col-lg-12">
    <div class="card">
        <div class="card-header">Add gate</div>
        <div class="card-body card-block">
            <form action="/gates" method="post" class="">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" id="gate" name="gate" placeholder="Name" class="form-control">
                        <div class="input-group-addon"><i class="fa fa-book"></i></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" id="start" name="start" placeholder="start time" class="form-control">
                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" id="end" name="end" placeholder="end time" class="form-control">
                        <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                    </div>
                </div>
                <div class="form-actions form-group"><button type="submit" class="btn btn-secondary btn-sm">Submit</button></div>
            </form>
        </div>
    </div>
</div>